summary {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 10rem;
}

summary > h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

summary > p {
  line-height: 1.3rem;
  font-size: 1.1rem;
}

.about-zinger {
  font-weight: lighter;
}
