main > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 6rem auto;
}

.projects-container > article {
  display: grid;
  grid-template-columns: 40vw 40vw;
  justify-content: center;
  grid-column-gap: 50px;
}

.projects-container > article > a {
  .grid-column: 1 / 1;
}

.projects-container > article > section {
  .grid-column: 2 / 2;
}

.project-card-bg {
  background-size: cover;
  background-position: center;
  height: 400px;
  max-width: 800px;
  box-shadow: 2px 2px 5px var(--box-shadow-gray);
}

@media (max-width: 1000px) {
  .projects-container > article {
    display: initial;
  }

  .project-card-bg {
    margin-bottom: 2vh;
  }
}
